/* all screen */

@font-face {
    font-family: quicksand-regular;
    src: url('../fonts/quicksand-regular.ttf');
}

@font-face {
    font-family: fa-solid-900;
    src: url('../fonts/fa-solid-900.woff');
}

@font-face {
    font-family: fa-brands-400;
    src: url('../fonts/fa-brands-400.woff');
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

input {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
}

input:focus {
    outline: none;
}

select {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
}

select:focus {
    outline: none;
}

textarea {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
    resize: none;
}

textarea:focus {
    outline: none;
}

a {
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

table {
    border-collapse: collapse;
}

::placeholder {
    color: rgb(30, 30, 30);
}

html {
    touch-action: manipulation;
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
    color: rgb(30, 30, 30);
    line-height: 25px;
    font-family: quicksand-regular;
    font-size: 16px;
}

.font-icon {
    font-style: normal;
}

#page-wrapper {
    margin: auto;
    width: 1100px;
    background-color: rgb(255, 255, 255);
}

#basic-info {
    height: 200px;
    text-align: center;
}

#basic-info .image {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 25px 50px 0 0;
    vertical-align: top;
}

#basic-info .list {
    display: inline-block;
    margin-top: 25px;
    text-align: left;
    vertical-align: top;
}

#basic-info .list .item {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}

#basic-info .list .item.name {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#basic-info .list .item .font-icon {
    text-align: center;
}

#basic-info .list .item .font-icon:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-size: 18px;
}

#basic-info .list .item .job:before {
    font-family: fa-solid-900;
    content: '\f0b1';
}

#basic-info .list .item .dob:before {
    font-family: fa-solid-900;
    content: '\f073';
}

#basic-info .list .item .hometown:before {
    font-family: fa-solid-900;
    content: '\f015';
}

#basic-info .list .item .mobile:before {
    font-family: fa-solid-900;
    content: '\f3cd';
}

#basic-info .list .item .skype:before {
    font-family: fa-brands-400;
    content: '\f17e';
}

#basic-info .list .item .email:before {
    font-family: fa-solid-900;
    content: '\f658';
}






/* up to 767px */

@media only screen and (max-width: 767px) {
    
}