/* all screen */

@font-face {
    font-family: quicksand-regular;
    src: url('../fonts/quicksand-regular.ttf');
}

@font-face {
    font-family: fa-solid-900;
    src: url('../fonts/fa-solid-900.woff');
}

@font-face {
    font-family: fa-brands-400;
    src: url('../fonts/fa-brands-400.woff');
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

input {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
}

input:focus {
    outline: none;
}

select {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
}

select:focus {
    outline: none;
}

textarea {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
    resize: none;
}

textarea:focus {
    outline: none;
}

a {
    color: inherit;
    line-height: inherit;
    font-family : inherit;
    font-size: inherit;
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

table {
    border-collapse: collapse;
}

::placeholder {
    color: rgb(30, 30, 30);
}

html {
    touch-action: manipulation;
}

body {
    margin: 0;
    background-color: rgb(90, 90, 90);
    color: rgb(30, 30, 30);
    font-family: quicksand-regular;
    font-size: 16px;
    line-height: 20px;
}

.block {
    display: block;
}

.margin-left {
    margin-left: 60px;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 20px;
    line-height: 25px;
}

.small {
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.green {
    color: rgb(30, 230, 200);
}

#page {
    position: relative;
    margin: auto;
    width: 1100px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

#basic {
    width: 100%;
    font-size: 0;
    padding-top: 30px;
}

#basic .column {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-size: 16px;
}

#basic .column.left {
    margin: 30px 0 0 100px;
    width: 260px;
    text-align: left;
}

#basic .column.middle {
    margin: 0 9px 0 9px;
    border-left: 1px solid rgb(215, 215, 215);
    border-right: 1px solid rgb(215, 215, 215);
    padding: 30px;
}

#basic .column.right {
    margin: 90px 100px 0 0;
    width: 260px;
    text-align: right;
}

#basic .image {
    width: 180px;
    border-radius: 90px;
}

#basic .resume {
    display: inline-block;
    padding: 15px;
    border: 2px solid rgb(30, 30, 30);
}

#basic .resume:hover {
    border: 2px solid rgb(30, 230, 200);
    background-color: rgb(30, 230, 200);
    color: rgb(255, 255, 255);
    transition: border 0.2s, background-color 0.2s, color 0.2s;
}

.row {
    margin: 0 100px 0 100px;
    padding: 30px 0 30px 0;
    border-top: 1px solid rgb(215, 215, 215);
}

#certification {
    position: relative;
}

#certification .logo {
    position: absolute;
    top: 10px;
    right: 0;
    width: 70px;
}


/* up to 767px */

@media only screen and (max-width: 767px) {
    
}